.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pdf
*.pkl
*log_loss.txt
*log_stats.txt
*log.txt
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
