.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*PR_Curve.pdf
*.pkl
*log.txt
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
